.display-flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.display-flex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.display-grid-row{
    display: grid;
    grid-template-rows: 8vh 92vh;
}

.display-grid-col{
    display: grid;
    grid-template-columns:25% auto;
    
    
}

.display-row-start{
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
}

.display-row-center{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.display-row-end{
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: center;
}

.display-col-start{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: flex-start;
}

.display-col-center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.display-col-end{
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: flex-end;
}
