<template>
  <div :class="styleContainer">
    <button @click="animar">Animar</button>
    <button @click="animar">Animar</button>
  </div>
</template>
<script>
export default {
  data() {
    return{
         styleContainer:{
           backgroundColor:"white",
           display:"flex",
           flexDirection:"column",
           justifyContent:"center",
           alignItens:"center"
         }
    }
    
  },
  methods:{
    animar(){

    }
  }

}
</script>
