<template>
  <div class="display-row-center" style="background-color: black; color: white">
    <div class="display-col-center">
      <img src="../assets/logo.png" alt="" srcset="" />
      <span>vuejs</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "Home",
  components: {},
};
</script>
<style scoped>
img {
  width: 0px;
  animation: showImage;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  
}
span{
  opacity: 0;
  animation: showText;
  animation-fill-mode: forwards;
  animation-delay: 10s;
}

@keyframes showImage {
  to {
    opacity: 1;
    width: 150px;
    
        
  }
}
@keyframes showText {
  to{
  opacity: 1;
  }
}
</style>
