<template>
    <div class="menuLateral">
      <img src="../assets/fundoMenu.png" />
      <ul class="">
        <li>
          <router-link to="/">Home</router-link>
        </li>
        <li>
          <router-link to="/about">About</router-link>
        </li>
      </ul>
    </div>
</template>

<script>
import "../assets/css/style.css";
export default {
  name: "Home",
  components: {},
};
</script>
<style scoped>
* {
  padding: 0px;
}
.menuLateral {
  background-color: rgb(197, 197, 197);   
}
img {
  position: relative;
  width: 100%;
}
ul {
  list-style-type: none;
  width: 100%;
}
a{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: rgb(101, 104, 107);
  margin: 5px;
}
a:hover{
  color:rgb(255, 255, 255) ;
}
</style>
