<template>
  <nav class="display-row-center">
    <h2>Onload Sistemas</h2>
  </nav>
</template>

<script>
export default {

};
</script>

<style scoped>
nav{
    background-color: rgb(52, 62, 63);
    color: white;
}
</style>
