<template>
  <div class="display-grid-row">
    <navegador/>
    <div class="display-grid-col">
      <menu-lateral />
      <router-view />
    </div>
  </div>
</template>
<script>

import Navegador from "./components/Navegador.vue";
import MenuLateral from "./components/MenuLateral.vue";

export default {
  components: {
    Navegador,
    MenuLateral,
  },
};
</script>
<style>
body,
html {
  padding: 0px;
  margin: 0px;
  height: 100vh;
}

</style>
